.input-key {
    width: 350px;
    font-family: Arial;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px 10px;
    border: 1px solid black;
}

.btn-send {
    font-family: Arial;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #297fd1;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease; /* smooth effect */
}

.btn-send:hover {
    background-color: #007bff;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
}